<h1 style="text-align: center; margin-bottom: 50px;">Places You visited <i class="fa fa-tasks"></i></h1>

<p>Here are all your places:</p>

<ul>
  <% @place.each() do |place| %>
  <li><%= place.place() %></li>
  <% end %>

</ul>

<p><i>Add a new place:</i></p>

<form action="/places" method="post">
  <label for="place">Place Location </label>
  <input id="place" name="place" type="text">

  <button type="submit" class="btn-success">Add Place</button>
</form>
